<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <style type="text/css">
        .div1 {
            height: 180px;
            width: 380px;
            border: 1px solid #8A8989;
            margin: 0 auto;
        }

        .input {
            display: block;
            width: 250px;
            height: 30px;
            margin: 10px auto;
        }

        .button {
            background: #2066C5;
            color: white;
            font-size: 18px;
            font-weight: bold;
            height: 30px;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <div class="div1">
        <form action="imgpos" method="post" enctype="multipart/form-data">
            <input type="file" name="image" class="input">
            <input type="submit" value="上传" class="input button">
        </form>
    </div>
</body>

</html>